<footer class="bg-gray-900 py-5 px-2">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-center items-center border-b border-gray-800 pb-10 mb-10">
        <div class="flex space-x-6 text-gray-400 text-sm">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Careers</a>
        </div>
    </div>
    <p class="text-center text-gray-600 text-xs tracking-widest">&copy; 2026 PT. Apa aja. SEMUA HAK CIPTA DILINDUNGI.</p>
</footer>